//big button
.big-button {
    background: $blue;
    border: none;
    border-bottom: .3rem solid darken($blue, 10%);
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    width: 100%;
}

.big-button:disabled{
    opacity: 0.5;
}

//button
.button {
    background: $blue;
    border: none;
    border-bottom: .2rem solod darken($blue, 10%);
    color: white;
    font-weight: 500;
    padding: 1rem;
}

.button--link{
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}